!!!
html
	head
		title= "betalounge"

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="css/bootstrap.min.css" rel="stylesheet" media="screen")

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/js/keypress-1.0.8.min.js')
		script(src='/js/betalounge.js')
		script(src='/socket.io/socket.io.js')
	body
		h1 Beta Lounge
		p A Multi-User Dungeon (MUD) for students to learn how computers work. Based on the Computational Structures class at MIT (6.004).

		hr

		div.container
			canvas#screen(width=512, height=512, style="margin: 0 auto; border: 2px solid #000")

			p#status no status
			
			button#up up
			button#down down
			button#left left
			button#right right
